
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

a {
  color: color(primary);
  position: relative;
  cursor: pointer;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

a:hover:after{
  display: none;
}
#app {
  overflow-x: hidden;
}

#viewport {
  overflow-x: hidden;
}
.mb-1rem{
  margin-bottom: 1rem;
}
.mb-05rem{
  margin-bottom: 0.5rem;
}
.button{
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 700;
  font-size: 0.83rem;
}
.section{
  width: 100%;
  position: relative;
  &__top-header{
    padding: 10px 0px;
    background: #616161;
  }
}
.container{
  margin: 0 auto;
  width: 88%;
  max-width: 2528px;
}
